div#chessboard {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);;
    grid-template-rows: repeat(8, 1fr);;
}

div#chessboard > div:hover {
    background-color: lightgray !important;
}

#gameContainer {
    border: 1px solid black;
    width: 700px;
}

body {
    display: flex;
    justify-content: center;
}

.light {
    background-color: white;
}

.dark {
    background-color: lightgray;
}

.light:hover {
    background-color: darkGray;
}

.dark:hover {
    background-color: darkGray;
}

.selected {
    background-color: gray;
}

.legalMove {
    background-image: linear-gradient(rgb(200, 255, 200),rgb(200,255,200)) !important;
    background-blend-mode: multiply; 
}

.boardSquare:active {
    background-color: gray;
}

.boardSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.piece {
    width: 80%;
    height: 80%;
    background-size: 100% 100%;

}

.boardSquare:has(.player2) {
    background-image: linear-gradient(rgb(200,255,255),rgb(200,255,255));
    background-blend-mode: multiply;
}

.boardSquare:has(.player1) {
    background-image: linear-gradient(rgb(255,200,200),rgb(255,200,200));
    background-blend-mode: multiply;
}

#turnDisplay {
    text-align: center;
}

#hoverSubSection {
    display: flex;
    height: 100px;
}

#hoverSubSection > * {
    width: 25%;
    text-align: center;
}

#hoveredPieceDescriptionDisplay {
    height: 100px;
    width: 90%;
    padding: 20px;
    overflow-wrap: break-word;
}

hr {
    width: 75%;
}

