div#chessboard {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);;
    grid-template-rows: repeat(8, 1fr);;
}

div#chessboard > div:hover {
    background-color: lightgray !important;
}

#gameContainer {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
}

.light {
    background-color: white;
}

.dark {
    background-color: lightgray;
}

.light:hover {
    background-color: darkGray;
}

.dark:hover {
    background-color: darkGray;
}

.selected {
    background-color: gray;
}

.boardSquare {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 100%;
}